black
flake8
isort
mdformat
mdformat-gfm
mkdocs
mkdocs-material
pre-commit
pytest
tqdm
whoosh
pandas
google-cloud-bigquery
requests
pyarrow
pandas-gbq
python-dotenv
geopandas
descartes
rtree
google-auth>=2.6.0
google-auth-oauthlib>=0.5.1
google-auth-httplib2>=0.1.0
google-api-python-client>=2.47.0
